<template>
  <div>
    <h1>{{ course.name }}</h1>
    <p>{{ course.description }}</p>
    <add-lesson-form :courseId="course.id" />
    <ul>
      <li v-for="lesson in course.lessons" :key="lesson.id">
        <router-link :to="`/courses/${course.id}/lessons/${lesson.id}`">{{ lesson.title }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { useCourseStore } from '../stores/courseStore';
import AddLessonForm from '../components/AddLessonForm.vue';
import { computed } from 'vue';

export default {
  name: 'CoursePage',
  components: {
    AddLessonForm
  },
  props: {
    id: String
  },
  setup(props) {
    const courseStore = useCourseStore();
    const course = computed(() => courseStore.courses.find(c => c.id === props.id));

    return { course };
  }
}
</script>