<template>
  <div>
    <h1>Available Courses</h1>
    <add-course-form />
    <ul>
      <li v-for="course in courses" :key="course.id">
        <router-link :to="`/courses/${course.id}`">{{ course.name }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { useCourseStore } from '../stores/courseStore';
import AddCourseForm from '../components/AddCourseForm.vue';

export default {
  name: 'HomePage',
  components: {
    AddCourseForm
  },
  setup() {
    const courseStore = useCourseStore();
    return {
      courses: courseStore.courses
    };
  }
}
</script>
