<template>
  <div>
    <h1>{{ lesson.title }}</h1>
    <p>{{ lesson.videoUrl }}</p>
    <add-test-form :courseId="courseId" :lessonId="lesson.id" />
    <ul>
      <li v-for="test in lesson.tests" :key="test.id">
        {{ test.question }}
      </li>
    </ul>
  </div>
</template>

<script>
import { useCourseStore } from '../stores/courseStore';
import AddTestForm from '../components/AddTestForm.vue';
import { computed } from 'vue';

export default {
  name: 'LessonPage',
  components: {
    AddTestForm
  },
  props: {
    courseId: String,
    lessonId: String
  },
  setup(props) {
    const courseStore = useCourseStore();
    const lesson = computed(() => {
      const course = courseStore.courses.find(c => c.id === props.courseId);
      return course.lessons.find(l => l.id === props.lessonId);
    });

    return { lesson, courseId: props.courseId };
  }
}
</script>