<template>
  <div>
    <h1>404 Not Found</h1>
    <p>The requested page could not be found!</p>
    <router-link to="/">Go Back Home</router-link>
  </div>
</template>

<script>
export default {
  name: 'NotFoundPage'
}
</script>