<template>
  <form @submit.prevent="addCourse">
    <label for="name">Course Name:</label>
    <input id="name" v-model="courseName" type="text" required>

    <label for="description">Description:</label>
    <textarea id="description" v-model="courseDescription" required></textarea>

    <button type="submit">Add Course</button>
  </form>
</template>

<script>
import { useCourseStore } from '../stores/courseStore';

export default {
  name: 'AddCourseForm',
  data() {
    return {
      courseName: '',
      courseDescription: ''
    };
  },
  methods: {
    addCourse() {
      const courseStore = useCourseStore();
      courseStore.addCourse({
        id: Date.now().toString(), // Простой способ создания уникального ID
        name: this.courseName,
        description: this.courseDescription,
        lessons: [] // Инициализация пустого списка уроков
      });
      this.courseName = '';
      this.courseDescription = ''; // Очистка формы после добавления курса
    }
  }
}
</script>