<template>
  <form @submit.prevent="addLesson">
    <label for="title">Lesson Title:</label>
    <input id="title" v-model="lessonTitle" type="text" required>

    <label for="videoUrl">Video URL:</label>
    <input id="videoUrl" v-model="lessonVideoUrl" type="text" required>

    <button type="submit">Add Lesson</button>
  </form>
</template>

<script>
import { useCourseStore } from '../stores/courseStore';

export default {
  name: 'AddLessonForm',
  props: {
    courseId: String
  },
  data() {
    return {
      lessonTitle: '',
      lessonVideoUrl: ''
    };
  },
  methods: {
    addLesson() {
      const courseStore = useCourseStore();
      courseStore.addLesson(this.courseId, {
        id: Date.now().toString(),  // Уникальный ID для урока
        title: this.lessonTitle,
        videoUrl: this.lessonVideoUrl
      });
      this.lessonTitle = '';
      this.lessonVideoUrl = '';
    }
  }
}
</script>