<template>
  <form @submit.prevent="addTest">
    <label for="question">Question:</label>
    <input id="question" v-model="testQuestion" type="text" required>

    <label for="answer">Correct Answer:</label>
    <input id="answer" v-model="testAnswer" type="text" required>

    <button type="submit">Add Test</button>
  </form>
</template>

<script>
import { useCourseStore } from '../stores/courseStore';

export default {
  name: 'AddTestForm',
  props: {
    courseId: String,
    lessonId: String
  },
  data() {
    return {
      testQuestion: '',
      testAnswer: ''
    };
  },
  methods: {
    addTest() {
      const courseStore = useCourseStore();
      courseStore.addTest(this.courseId, this.lessonId, {
        id: Date.now().toString(),
        question: this.testQuestion,
        correctAnswer: this.testAnswer
      });
      this.testQuestion = '';
      this.testAnswer = '';
    }
  }
}
</script>