<template>
  <div class="lesson">
    <h2>{{ lesson.title }}</h2>
    <video width="640" height="480" controls>
      <source :src="lesson.videoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</template>

<script>
export default {
  name: 'Lesson',
  props: {
    lesson: Object
  }
}
</script>
