<template>
  <div id="app">
    <header>
      <nav>
        <router-link to="/">Home</router-link>
        <!-- Дополнительные ссылки на другие страницы -->
      </nav>
    </header>
    <main>
      <!-- Здесь будет отображаться содержимое, выбранное через роутинг -->
      <router-view/>
    </main>
    <footer>
      <p>© 2024 Online Learning Platform (assylkhanAz)</p>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #007BFF;
}

nav a.router-link-active {
  color: #000;
  font-weight: bold;
}

footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
}
</style>